docs/dtd/DataElement_Archive_V3.0.1.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2005 rel. 3 U (http://www.altova.com)-->
<!ELEMENT ALTERNATENAMELIST (ALTERNATENAMELIST_ITEM*)>
<!ELEMENT ALTERNATENAMELIST_ITEM (ContextName, ContextVersion, AlternateName, AlternateNameType, Language)>
<!ELEMENT AlternateName (#PCDATA)>
<!ELEMENT AlternateNameType (#PCDATA)>
<!ELEMENT CLASSIFICATIONSLIST (CLASSIFICATIONSLIST_ITEM*)>
<!ELEMENT CLASSIFICATIONSLIST_ITEM (ClassificationScheme, ClassificationSchemeItemName, ClassificationSchemeItemType)>
<!ELEMENT CONTEXTNAME (#PCDATA)>
<!ELEMENT CONTEXTVERSION (#PCDATA)>
<!ELEMENT CON_ID (#PCDATA)>
<!ELEMENT CharacterSetName EMPTY>
<!ATTLIST CharacterSetName
	NULL CDATA #REQUIRED
>
<!ELEMENT ClassificationScheme (PublicId, ContextName, ContextVersion, PreferredName, Version)>
<!ELEMENT ClassificationSchemeItemName (#PCDATA)>
<!ELEMENT ClassificationSchemeItemType (#PCDATA)>
<!ELEMENT ComponentDataElementsList (ComponentDataElementsList_ITEM*)>
<!ATTLIST ComponentDataElementsList
	NULL CDATA #IMPLIED
>
<!ELEMENT ComponentDataElementsList_ITEM (PublicId, LongName, PreferredName, PreferredDefinition, Version, WorkflowStatus, ContextName, DisplayOrder)>
<!ELEMENT ConcatenationCharacter (#PCDATA)>
<!ATTLIST ConcatenationCharacter
	NULL CDATA #IMPLIED
>
<!ATTLIST ConcatenationCharacter
	NULL CDATA #REQUIRED
>
<!ELEMENT ConceptDetails (ConceptDetails_ITEM*)>
<!ELEMENT ConceptDetails_ITEM (PREFERRED_NAME, LONG_NAME, CON_ID, DEFINITION_SOURCE, ORIGIN, EVS_SOURCE, PRIMARY_FLAG_IND, DISPLAY_ORDER)>
<!ELEMENT ConceptualDomain (PublicId, ContextName, ContextVersion, PreferredName, Version, LongName)>
<!ELEMENT ContextName (#PCDATA)>
<!ATTLIST ContextName
	NULL CDATA #IMPLIED
>
<!ELEMENT ContextVersion (#PCDATA)>
<!ATTLIST ContextVersion
	NULL CDATA #IMPLIED
>
<!ELEMENT DATAELEMENTCONCEPT (PublicId, PreferredName, PreferredDefinition, LongName, Version, WorkflowStatus, ContextName, ContextVersion, ConceptualDomain, ObjectClass, Property, ObjectClassQualifier, PropertyQualifier, Origin)>
<!ELEMENT DATAELEMENTDERIVATION (DerivationType, DerivationTypeDescription, Methods, Rule, ConcatenationCharacter, ComponentDataElementsList)>
<!ELEMENT DEFINITION_SOURCE (#PCDATA)>
<!ATTLIST DEFINITION_SOURCE
	NULL CDATA #IMPLIED
>
<!ELEMENT DISPLAY_ORDER (#PCDATA)>
<!ELEMENT DataElement (PUBLICID, LONGNAME, PREFERREDNAME, PREFERREDDEFINITION, VERSION, WORKFLOWSTATUS, CONTEXTNAME, CONTEXTVERSION, ORIGIN, REGISTRATIONSTATUS, DATAELEMENTCONCEPT, VALUEDOMAIN, REFERENCEDOCUMENTSLIST, CLASSIFICATIONSLIST, ALTERNATENAMELIST, DATAELEMENTDERIVATION)>
<!ATTLIST DataElement
	num CDATA #REQUIRED
>
<!ELEMENT DataElementsList (DataElement+)>
<!ELEMENT Datatype (#PCDATA)>
<!ELEMENT DecimalPlace (#PCDATA)>
<!ATTLIST DecimalPlace
	NULL CDATA #IMPLIED
>
<!ELEMENT DerivationType (#PCDATA)>
<!ATTLIST DerivationType
	NULL CDATA #IMPLIED
>
<!ELEMENT DerivationTypeDescription (#PCDATA)>
<!ATTLIST DerivationTypeDescription
	NULL CDATA #IMPLIED
>
<!ELEMENT DisplayFormat (#PCDATA)>
<!ATTLIST DisplayFormat
	NULL CDATA #IMPLIED
>
<!ELEMENT DisplayOrder (#PCDATA)>
<!ATTLIST DisplayOrder
	NULL CDATA #IMPLIED
>
<!ELEMENT DocumentText (#PCDATA)>
<!ATTLIST DocumentText
	NULL CDATA #IMPLIED
>
<!ELEMENT DocumentType (#PCDATA)>
<!ELEMENT EVS_SOURCE (#PCDATA)>
<!ELEMENT LONGNAME (#PCDATA)>
<!ELEMENT LONG_NAME (#PCDATA)>
<!ATTLIST LONG_NAME
	NULL CDATA #IMPLIED
>
<!ELEMENT Language (#PCDATA)>
<!ELEMENT LongName (#PCDATA)>
<!ATTLIST LongName
	NULL CDATA #IMPLIED
>
<!ELEMENT MaximumLength (#PCDATA)>
<!ATTLIST MaximumLength
	NULL CDATA #IMPLIED
>
<!ELEMENT MaximumValue (#PCDATA)>
<!ATTLIST MaximumValue
	NULL CDATA #IMPLIED
>
<!ELEMENT Methods (#PCDATA)>
<!ATTLIST Methods
	NULL CDATA #IMPLIED
>
<!ELEMENT MinimumLength (#PCDATA)>
<!ATTLIST MinimumLength
	NULL CDATA #IMPLIED
>
<!ELEMENT MinimumValue (#PCDATA)>
<!ATTLIST MinimumValue
	NULL CDATA #IMPLIED
>
<!ELEMENT Name (#PCDATA)>
<!ELEMENT ORIGIN (#PCDATA)>
<!ATTLIST ORIGIN
	NULL CDATA #IMPLIED
>
<!ELEMENT ObjectClass (PublicId, ContextName, ContextVersion, PreferredName, Version, LongName, ConceptDetails)>
<!ELEMENT ObjectClassQualifier (#PCDATA)>
<!ATTLIST ObjectClassQualifier
	NULL CDATA #IMPLIED
>
<!ELEMENT OrganizationName EMPTY>
<!ATTLIST OrganizationName
	NULL CDATA #REQUIRED
>
<!ELEMENT Origin (#PCDATA)>
<!ATTLIST Origin
	NULL CDATA #IMPLIED
>
<!ELEMENT PREFERREDDEFINITION (#PCDATA)>
<!ELEMENT PREFERREDNAME (#PCDATA)>
<!ELEMENT PREFERRED_NAME (#PCDATA)>
<!ELEMENT PRIMARY_FLAG_IND (#PCDATA)>
<!ELEMENT PUBLICID (#PCDATA)>
<!ELEMENT PermissibleValues (PermissibleValues_ITEM*)>
<!ELEMENT PermissibleValues_ITEM (ValidValue, ValueMeaning)>
<!ELEMENT PreferredDefinition (#PCDATA)>
<!ELEMENT PreferredName (#PCDATA)>
<!ATTLIST PreferredName
	NULL CDATA #IMPLIED
>
<!ELEMENT Property (PublicId, ContextName, ContextVersion, PreferredName, Version, LongName, ConceptDetails)>
<!ELEMENT PropertyQualifier (#PCDATA)>
<!ATTLIST PropertyQualifier
	NULL CDATA #IMPLIED
>
<!ELEMENT PublicId (#PCDATA)>
<!ATTLIST PublicId
	NULL CDATA #IMPLIED
>
<!ELEMENT REFERENCEDOCUMENTSLIST (REFERENCEDOCUMENTSLIST_ITEM*)>
<!ELEMENT REFERENCEDOCUMENTSLIST_ITEM (Name, OrganizationName, DocumentType, DocumentText, URL, Language, DisplayOrder)>
<!ELEMENT REGISTRATIONSTATUS (#PCDATA)>
<!ATTLIST REGISTRATIONSTATUS
	NULL CDATA #IMPLIED
>
<!ELEMENT Rule (#PCDATA)>
<!ATTLIST Rule
	NULL CDATA #IMPLIED
>
<!ELEMENT URL (#PCDATA)>
<!ATTLIST URL
	NULL CDATA #IMPLIED
>
<!ELEMENT UnitOfMeasure (#PCDATA)>
<!ATTLIST UnitOfMeasure
	NULL CDATA #IMPLIED
>
<!ELEMENT VALUEDOMAIN (PublicId, PreferredName, PreferredDefinition, LongName, Version, WorkflowStatus, ContextName, ContextVersion, ConceptualDomain, Datatype, ValueDomainType, UnitOfMeasure, DisplayFormat, MaximumLength, MinimumLength, DecimalPlace, CharacterSetName, MaximumValue, MinimumValue, Origin, PermissibleValues, ValueDomainConcepts)>
<!ELEMENT VERSION (#PCDATA)>
<!ELEMENT ValidValue (#PCDATA)>
<!ELEMENT ValueDomainConcepts (ValueDomainConcepts_ITEM*)>
<!ELEMENT ValueDomainConcepts_ITEM (PREFERRED_NAME, LONG_NAME, CON_ID, DEFINITION_SOURCE, ORIGIN, EVS_SOURCE, PRIMARY_FLAG_IND, DISPLAY_ORDER)>
<!ELEMENT ValueDomainType (#PCDATA)>
<!ELEMENT ValueMeaning (#PCDATA)>
<!ELEMENT Version (#PCDATA)>
<!ATTLIST Version
	NULL CDATA #IMPLIED
>
<!ELEMENT WORKFLOWSTATUS (#PCDATA)>
<!ELEMENT WorkflowStatus (#PCDATA)>
