docs/dtd/DataElement_Archive_V3.0.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2005 rel. 3 U (http://www.altova.com)-->
<!ELEMENT AlternateName (#PCDATA)>
<!ELEMENT AlternateNameList (AlternateNameList_ITEM*)>
<!ELEMENT AlternateNameList_ITEM (ContextName, ContextVersion, AlternateName, AlternateNameType, Language)>
<!ELEMENT AlternateNameType (#PCDATA)>
<!ELEMENT CharacterSetName EMPTY>
<!ATTLIST CharacterSetName
	NULL CDATA #REQUIRED
>
<!ELEMENT ClassificationScheme (PublicId, ContextName, ContextVersion, PreferredName, Version)>
<!ELEMENT ClassificationSchemeItemName (#PCDATA)>
<!ELEMENT ClassificationSchemeItemType (#PCDATA)>
<!ELEMENT ClassificationsList (ClassificationsList_ITEM*)>
<!ELEMENT ClassificationsList_ITEM (ClassificationScheme, ClassificationSchemeItemName, ClassificationSchemeItemType)>
<!ELEMENT ComponentDataElementsList (ComponentDataElementsList_ITEM*)>
<!ATTLIST ComponentDataElementsList
	NULL CDATA #IMPLIED
>
<!ELEMENT ComponentDataElementsList_ITEM (PublicId, LongName, PreferredName, PreferredDefinition, Version, WorkflowStatus, ContextName, DisplayOrder)>
<!ELEMENT ConcatenationCharacter EMPTY>
<!ATTLIST ConcatenationCharacter
	NULL CDATA #REQUIRED
>
<!ELEMENT ConceptualDomain (PublicId, ContextName, ContextVersion, PreferredName, Version)>
<!ELEMENT ContextName (#PCDATA)>
<!ATTLIST ContextName
	NULL CDATA #IMPLIED
>
<!ELEMENT ContextVersion (#PCDATA)>
<!ATTLIST ContextVersion
	NULL CDATA #IMPLIED
>
<!ELEMENT DataElement (PublicId, LongName, PreferredName, PreferredDefinition, Version, WorkflowStatus, ContextName, ContextVersion, Origin, RegistrationStatus, DataElementConcept, ValueDomain, ReferenceDocumentsList, ClassificationsList, AlternateNameList, DataElementDerivation)>
<!ATTLIST DataElement
	num CDATA #REQUIRED
>
<!ELEMENT DataElementConcept (PublicId, PreferredName, PreferredDefinition, LongName, Version, WorkflowStatus, ContextName, ContextVersion, ConceptualDomain, ObjectClass, Property, ObjectClassQualifier, PropertyQualifier, Origin)>
<!ELEMENT DataElementDerivation (DerivationType, DerivationTypeDescription, Methods, Rule, ConcatenationCharacter, ComponentDataElementsList)>
<!ELEMENT DataElementsList (DataElement+)>
<!ELEMENT Datatype (#PCDATA)>
<!ELEMENT DecimalPlace (#PCDATA)>
<!ATTLIST DecimalPlace
	NULL CDATA #IMPLIED
>
<!ELEMENT DerivationType (#PCDATA)>
<!ATTLIST DerivationType
	NULL CDATA #IMPLIED
>
<!ELEMENT DerivationTypeDescription (#PCDATA)>
<!ATTLIST DerivationTypeDescription
	NULL CDATA #IMPLIED
>
<!ELEMENT DisplayFormat (#PCDATA)>
<!ATTLIST DisplayFormat
	NULL CDATA #IMPLIED
>
<!ELEMENT DisplayOrder (#PCDATA)>
<!ATTLIST DisplayOrder
	NULL CDATA #IMPLIED
>
<!ELEMENT DocumentText (#PCDATA)>
<!ELEMENT DocumentType (#PCDATA)>
<!ELEMENT Language (#PCDATA)>
<!ATTLIST Language
	NULL CDATA #IMPLIED
>
<!ELEMENT LongName (#PCDATA)>
<!ELEMENT MaximumLength (#PCDATA)>
<!ATTLIST MaximumLength
	NULL CDATA #IMPLIED
>
<!ELEMENT MaximumValue (#PCDATA)>
<!ATTLIST MaximumValue
	NULL CDATA #IMPLIED
>
<!ELEMENT Methods (#PCDATA)>
<!ATTLIST Methods
	NULL CDATA #IMPLIED
>
<!ELEMENT MinimumLength (#PCDATA)>
<!ATTLIST MinimumLength
	NULL CDATA #IMPLIED
>
<!ELEMENT MinimumValue (#PCDATA)>
<!ATTLIST MinimumValue
	NULL CDATA #IMPLIED
>
<!ELEMENT Name (#PCDATA)>
<!ELEMENT ObjectClass (PublicId, ContextName, ContextVersion, PreferredName, Version)>
<!ELEMENT ObjectClassQualifier (#PCDATA)>
<!ATTLIST ObjectClassQualifier
	NULL CDATA #IMPLIED
>
<!ELEMENT OrganizationName EMPTY>
<!ATTLIST OrganizationName
	NULL CDATA #REQUIRED
>
<!ELEMENT Origin (#PCDATA)>
<!ATTLIST Origin
	NULL CDATA #IMPLIED
>
<!ELEMENT PermissibleValues (PermissibleValues_ITEM*)>
<!ELEMENT PermissibleValues_ITEM (ValidValue, ValueMeaning)>
<!ELEMENT PreferredDefinition (#PCDATA)>
<!ELEMENT PreferredName (#PCDATA)>
<!ATTLIST PreferredName
	NULL CDATA #IMPLIED
>
<!ELEMENT Property (PublicId, ContextName, ContextVersion, PreferredName, Version)>
<!ELEMENT PropertyQualifier (#PCDATA)>
<!ATTLIST PropertyQualifier
	NULL CDATA #IMPLIED
>
<!ELEMENT PublicId (#PCDATA)>
<!ATTLIST PublicId
	NULL CDATA #IMPLIED
>
<!ELEMENT ReferenceDocumentsList (ReferenceDocumentsList_ITEM*)>
<!ELEMENT ReferenceDocumentsList_ITEM (Name, OrganizationName, DocumentType, DocumentText, URL, Language, DisplayOrder)>
<!ELEMENT RegistrationStatus (#PCDATA)>
<!ATTLIST RegistrationStatus
	NULL CDATA #IMPLIED
>
<!ELEMENT Rule (#PCDATA)>
<!ATTLIST Rule
	NULL CDATA #IMPLIED
>
<!ELEMENT URL (#PCDATA)>
<!ATTLIST URL
	NULL CDATA #IMPLIED
>
<!ELEMENT UnitOfMeasure (#PCDATA)>
<!ATTLIST UnitOfMeasure
	NULL CDATA #IMPLIED
>
<!ELEMENT ValidValue (#PCDATA)>
<!ELEMENT ValueDomain (PublicId, PreferredName, PreferredDefinition, LongName, Version, WorkflowStatus, ContextName, ContextVersion, ConceptualDomain, Datatype, ValueDomainType, UnitOfMeasure, DisplayFormat, MaximumLength, MinimumLength, DecimalPlace, CharacterSetName, MaximumValue, MinimumValue, Origin, PermissibleValues)>
<!ELEMENT ValueDomainType (#PCDATA)>
<!ELEMENT ValueMeaning (#PCDATA)>
<!ELEMENT Version (#PCDATA)>
<!ATTLIST Version
	NULL CDATA #IMPLIED
>
<!ELEMENT WorkflowStatus (#PCDATA)>
